*.iml

.gradle

/local.properties

.idea/*

.DS_Store

/build

/captures

.externalNativeBuild

*.afdesign

app/release/*

icons/*

.idea/caches/*

.idea/misc.xml

/.idea/misc.xml


.vscode/settings.json

.idea/caches/build_file_checksums.ser

questions.json
